<div class="flex-1 p-4">
    <!-- Grid layout -->
    <div class="grid gap-4">

        <div class="bg-white p-4">
            <!-- Margenes responsive -->
            <div class="space-y-4 my-8 mx-4 sm:mx-8 md:mx-16 lg:mx-32">

                <!-- Fila 1 -->
                <div>
                    <h2 class="text-3xl font-bold text-center my-6">Ultimas Noticias</h2>
                    <ul class="max-w-3xl mx-auto">
                        <li *ngFor="let news of newsList" (click)="openNews(news.id)"
                            class="border-b border-gray-300 p-4 cursor-pointer mb-4">

                            <!-- Titulo -->
                            <div class="text-lg font-semibold text-blue-600">
                                {{ news.title }}
                            </div>

                            <!-- Fecha -->
                            <div class="text-sm text-gray-500 mb-2">
                                {{ news.date }}
                            </div>

                            <!-- Contenido -->
                            <p class="text-sm text-gray-600 mt-2 text-justify mb-4">
                                {{ getSummary(news.content) }}
                            </p>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>