<header class="bg-yale-blue-100 p-4">
    <div class="grid grid-cols-1 grid-rows-[auto_auto_auto] lg:grid-cols-[20%_60%_20%] lg:grid-rows-2 mx-8">

        <!-- Izquierda: Logo de la Página -->
        <div class="col-start-1 row-start-1 row-end-2 lg:col-start-1 lg:col-end-2 lg:row-start-1 lg:row-end-3 flex items-center justify-center w-full">
            <!-- Logo -->
            <a href="/" class="flex items-center">
              <img src="assets/images/escudo-900x900.png" alt="Logo" class="h-16 sm:h-12 mr-2">
                <!-- Titulo -->
                <span class="text-xl font-serif font-bold uppercase text-white leading-none mr-2">{{ 'HEADER_TITLE' | translate }}</span>
            </a>

            <!-- Menu Hamburger para Celulares -->
            <button class="block lg:hidden rounded-md hover:bg-[#385D8D] hover:shadow-lg transition duration-300 ease-in-out" (click)="toggleMenu()">
                <!-- Icono de Hamburger -->
                <img class="w-8 h-8 m-4" src="assets/icons/menu-w-500px.svg" alt="Hamburger">
            </button>
        </div>

        <!-- Contenido del Menu para Celulares -->
        <div [class.hidden]="!isMenuOpen" class="navbar-menu relative z-50">
            <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
            <nav class="fixed top-0 left-0 bottom-0 flex flex-col w-5/6 max-w-sm py-6 px-6 bg-yale-blue-100 border-r overflow-y-auto">

            <div class="m-4">
                <!-- Fila #1, con 2 columnas -->
                <div class="grid grid-cols-[85%_10%] gap-4">
                    <a href="/" class="flex items-center">
                        <img src="assets/images/escudo-900x900.png" alt="Logo" class="h-16 sm:h-12 mr-2">
                        <!-- Titulo -->
                        <span class="text-xl font-serif font-bold uppercase text-white leading-none">{{ 'HEADER_TITLE' |
                            translate }}</span>
                    </a>
                    <button (click)="toggleMenu()" class="navbar-close flex justify-end">
                        <!-- Boton de cerrar -->
                        <img class="w-4 h-4" src="assets/icons/close-lg-500px.svg" alt="Cerrar">
                    </button>
                </div>

                <!-- Fila #2-8 -->
                <div class="my-4">
                    <div class="flex items-center justify-start">
                        <div class="flex items-center">

                            <!-- Botones Idiomas -->
                            <!-- Habilitados -->
                            <button (click)="switchLanguage('es')" class="mr-2">
                                <img src="assets/images/flags/spanish.png" alt="Spanish" class="w-5 h-5">
                            </button>
                            <button (click)="switchLanguage('en')" class="mr-2">
                                <img src="assets/images/flags/english.png" alt="English" class="w-5 h-5">
                            </button>
                            <!-- Deshabilitados -->
                            <button class="mr-2">
                                <img src="assets/images/flags/greek-disabled.png" alt="Greek" class="w-5 h-5">
                            </button>
                            <button>
                                <img src="assets/images/flags/russian-disabled.png" alt="Russian" class="w-5 h-5">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mt-4">
                    <div class="flex items-center w-full mt-2">
                        <input type="text" [attr.placeholder]="placeholderSearch"
                            class="flex-1 min-w-[50px] px-4 py-0 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 placeholder-small">
                        <button class="text-xl pl-1 flex items-center justify-center text-slate-400 hover:text-white py-0">
                            <!-- Icono de Lupa -->
                            <ng-icon name="hugeSearch01"></ng-icon>
                        </button>
                    </div>
                </div>
                <div class="my-8">
                    <div class="gap-4 items-center">
                        <button
                            class="accordion cursor-pointer duration-300 ease-in-out font-semibold text-left txt-cadet-gray-100 hover:underline hover:text-white flex items-center justify-between w-full"
                            (click)="toggleAccordion()">{{ 'HEADER_ABOUT' | translate | capitalize }}
                            <img class="w-4 h-4 transition-opacity duration-300 ease-in-out" [src]="isOpen ? 'assets/icons/up-arrow-gray.svg' : 'assets/icons/down-arrow-gray.svg'" alt="Arrow">
                        </button>
                    </div>
                    <div class="overflow-hidden transition-max-height duration-300 ease-in-out"
                        [ngClass]="{'max-h-0': !isOpen, 'max-h-40': isOpen}">
                        <div class="my-4 ml-6 font-medium txt-cadet-gray-100 hover:text-white">
                            <a href="/president-members">{{ 'ABOUT_MEMBERS' | translate | capitalize }}</a>
                        </div>
                        <div class="my-4 ml-6 font-medium txt-cadet-gray-100 hover:text-white">
                            <a href="/administration">{{ 'ABOUT_ADMINISTRATION' | translate | capitalize }}</a>
                        </div>
                        <div class="my-4 ml-6 font-medium txt-cadet-gray-100 hover:text-white">
                            <a href="/succession">{{ 'ABOUT_SUCCESSION' | translate | capitalize }}</a>
                        </div>
                        <div class="my-4 ml-6 font-medium txt-cadet-gray-100 hover:text-white">
                            <a href="/elevation">{{ 'ABOUT_ELEVATION' | translate | capitalize }}</a>
                        </div>
                    </div>
                </div>
                <div class="my-8">
                    <a href="/autonomy" class="font-semibold txt-cadet-gray-100 hover:underline hover:text-white">{{
                        'HEADER_AUTONOMY' | translate | capitalize }}</a>
                </div>
                <div class="my-8">
                    <a href="/proclamation" class="font-semibold txt-cadet-gray-100 hover:underline hover:text-white">{{
                        'HEADER_PROCLAMATION' | translate | capitalize }}</a>
                </div>
                <div class="my-8">
                    <a href="#" class="font-semibold txt-cadet-gray-100 hover:underline hover:text-white">{{ 'HEADER_STORE' |
                        translate | capitalize }}</a>
                </div>

                <!-- Fila #8 -->
                <div class="my-8">
                    <a [routerLink]="['#']">
                        <button class="w-full bg-slate-900 text-white px-4 py-2 rounded hover:bg-slate-400 hover:text-slate-900 transition-colors text-sm font-semibold">{{
                        'HEADER_DONATE' | translate | capitalize }}</button>
                    </a>
                </div>

                <!-- Fila #9 -->
                <div class="mt-8">
                    <a [routerLink]="['#']">
                        <button class="w-full bg-stone-900 text-white px-4 py-2 rounded hover:bg-white hover:text-stone-900 text-sm font-semibold">{{ 'HEADER_LOGIN' | translate | capitalize }}</button>
                    </a>
                </div>

              </div>
            </nav>
        </div>

        <!-- Centro: Elementos de Navegación -->
        <div class="col-start-1 row-start-2 row-end-3 text-center lg:col-start-2 lg:row-start-2 lg:row-end-4">
            <div class="hidden lg:block">
                <nav class="w-full flex justify-evenly items-center">

                    <div class="dropdown">
                        <button class="dropbtn py-2 px-4">{{ 'HEADER_ABOUT' | translate | capitalize }}</button>
                        <div class="dropdown-content">
                            <a href="/president-members">{{ 'ABOUT_MEMBERS' | translate | capitalize }}</a>
                            <a href="/administration">{{ 'ABOUT_ADMINISTRATION' | translate | capitalize }}</a>
                            <a href="/succession">{{ 'ABOUT_SUCCESSION' | translate | capitalize }}</a>
                            <a href="/elevation">{{ 'ABOUT_ELEVATION' | translate | capitalize }}</a>
                        </div>
                    </div>

                    <a href="/autonomy" class="font-semibold txt-cadet-gray-100 hover:underline hover:text-white">{{
                        'HEADER_AUTONOMY' | translate | capitalize }}</a>
                    <a href="/proclamation" class="font-semibold txt-cadet-gray-100 hover:underline hover:text-white">{{
                        'HEADER_PROCLAMATION' | translate | capitalize }}</a>
                    <a href="#" class="font-semibold txt-cadet-gray-100 hover:underline hover:text-white">{{ 'HEADER_STORE' |
                        translate | capitalize }}</a>
                    <a href="#"
                        class="font-semibold bg-slate-900 text-white rounded-lg py-2 px-4 hover:bg-slate-400 hover:text-slate-900 transition-colors">{{
                        'HEADER_DONATE' | translate | capitalize }}</a>
                </nav>
            </div>
        </div>

        <!-- Derecha: Idioma, Login, Busqueda -->
        <div class="col-start-1 row-start-3 row-end-4 text-center lg:col-start-3 lg:row-start-1 lg:row-end-3">
            <div class="hidden lg:block">
                <div class="grid grid-cols-2">
                    <div class="flex items-center justify-start">
                        <div class="flex items-center">

                            <!-- Botones Idiomas -->
                            <!-- Habilitados -->
                            <button (click)="switchLanguage('es')" class="mr-2">
                                <img src="assets/images/flags/spanish.png" alt="Spanish" class="w-5 h-5">
                            </button>
                            <button (click)="switchLanguage('en')" class="mr-2">
                                <img src="assets/images/flags/english.png" alt="English" class="w-5 h-5">
                            </button>
                            <!-- Deshabilitados -->
                            <button class="mr-2">
                                <img src="assets/images/flags/greek-disabled.png" alt="Greek" class="w-5 h-5">
                            </button>
                            <button>
                                <img src="assets/images/flags/russian-disabled.png" alt="Russian" class="w-5 h-5">
                            </button>
                        </div>
                    </div>
                    <div class="flex items-center justify-end">
                        <label for="login-icon" class="mr-2 txt-gray-700">{{ 'HEADER_LOGIN' | translate | capitalize }}:</label>
                        <button id="login-icon"
                            class="flex items-center justify-center text-2xl w-6 h-6 bg-slate-800 rounded-full text-slate-400 hover:text-white py-0">
                            <!-- Icono de Login -->
                            <ng-icon name="hugeUserCircle02"></ng-icon>
                        </button>
                    </div>
                </div>

                <div class="flex items-center w-full mt-2">
                    <input type="text" [attr.placeholder]="placeholderSearch"
                        class="flex-1 min-w-[50px] px-4 py-0 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 placeholder-small">
                    <button class="text-xl pl-1 flex items-center justify-center text-slate-400 hover:text-white py-0">
                        <!-- Icono de Lupa -->
                        <ng-icon name="hugeSearch01"></ng-icon>
                    </button>
                </div>
            </div>
        </div>

    </div>
</header>