<footer>

  <!-- NIVEL 1 -->
  <div class="bg-glaucous-100 md:text-white sm:text-stone-900 px-4 py-6">
    <div class="grid grid-cols-1 md:grid-cols-4 sm:gap-0 md:gap-12 mx-8 sm:mx-0 md:mx-32">

      <!-- PANTALLA PEQUEÑA -->
      <!-- Columna #1 -->
      <p-accordion class="block lg:hidden">
        <p-accordionTab header="Vida de Iglesia">
          <ul class="list-none p-0 ml-6 text-sm">
            <li><a href="#" class="hover:text-sky-800">Dios y el hombre</a></li>
            <li><a href="#" class="hover:text-sky-800">Iglesia</a></li>
            <li><a href="#" class="hover:text-sky-800">Biblia y Escrituras</a></li>
            <li><a href="#" class="hover:text-sky-800">Liturgia y Adoración</a></li>
            <li><a href="#" class="hover:text-sky-800">Santos y Ascetas</a></li>
            <li><a href="#" class="hover:text-sky-800">Monacato / Clero</a></li>
            <li><a href="#" class="hover:text-sky-800">Santo Sínodo Jerárquico</a></li>
            <li><a href="#" class="hover:text-sky-800">Administración</a></li>
            <li><a href="#" class="hover:text-sky-800">Autonomía</a></li>
            <li><a href="#" class="hover:text-sky-800">Proclamación Eclesiológica</a></li>
            <li><a href="#" class="hover:text-sky-800">Noticias</a></li>
            <li><a href="#" class="hover:text-sky-800">Anuncios</a></li>
          </ul>
        </p-accordionTab>
      </p-accordion>

      <!-- Columna #2/Primera Fila -->
      <p-accordion class="block lg:hidden">
        <p-accordionTab header="Servicio Divino">
          <ul class="list-none p-0 ml-6 text-sm">
            <li><a href="#" class="hover:text-sky-800">Horario de servicios</a></li>
            <li><a href="#" class="hover:text-sky-800">Sermones</a></li>
            <li><a href="#" class="hover:text-sky-800">Bautismos</a></li>
            <li><a href="#" class="hover:text-sky-800">Bodas</a></li>
            <li><a href="#" class="hover:text-sky-800">Servicios funerarios</a></li>
          </ul>
        </p-accordionTab>
      </p-accordion>

      <!-- Columna #2/Segunda Fila -->
      <p-accordion class="block lg:hidden">
        <p-accordionTab header="Monasterio">
          <ul class="list-none p-0 ml-6 text-sm">
            <li><a href="#" class="hover:text-sky-800">Historia del monasterio</a></li>
            <li><a href="#" class="hover:text-sky-800">Plano del monasterio</a></li>
            <li><a href="#" class="hover:text-sky-800">Ecología del lugar</a></li>
          </ul>
        </p-accordionTab>
      </p-accordion>

      <!-- Columna #3 -->
      <p-accordion class="block lg:hidden">
        <p-accordionTab header="Para huespedes">
          <ul class="list-none p-0 ml-6 text-sm">
            <li><a href="#" class="hover:text-sky-800">Introducción</a></li>
            <li><a href="#" class="hover:text-sky-800">Teología</a></li>
            <li><a href="#" class="hover:text-sky-800">Tienda</a></li>
            <li><a href="#" class="hover:text-sky-800">Exposición de Reliquias</a></li>
            <li><a href="#" class="hover:text-sky-800">Ayuda a la Iglesia</a></li>
            <li><a href="#" class="hover:text-sky-800">Enviar una nota</a></li>
          </ul>
        </p-accordionTab>
      </p-accordion>

      <!-- Columna #4 -->
      <p-accordion class="block lg:hidden">
        <p-accordionTab header="Proyectos">
          <ul class="list-none p-0 ml-6 text-sm">
            <li><a href="#" class="hover:text-sky-800">Editorial</a></li>
            <li><a href="#" class="hover:text-sky-800">Coro</a></li>
            <li><a href="#" class="hover:text-sky-800">Cursos educativos</a></li>
            <li><a href="#" class="hover:text-sky-800">Centro espiritual</a></li>
          </ul>
        </p-accordionTab>
      </p-accordion>

      <!-- PANTALLA GRANDE -->
      <!-- Columna #1 -->
      <div class="hidden lg:block">
        <div class="flex flex-col space-y-2">
          <h3 class="font-semibold mb-2">Vida de Iglesia</h3>
          <ul class="list-none p-0 ml-6 text-sm">
            <li><a href="#" class="hover:text-sky-800">Dios y el hombre</a></li>
            <li><a href="#" class="hover:text-sky-800">Iglesia</a></li>
            <li><a href="#" class="hover:text-sky-800">Biblia y Escrituras</a></li>
            <li><a href="#" class="hover:text-sky-800">Liturgia y Adoración</a></li>
            <li><a href="#" class="hover:text-sky-800">Santos y Ascetas</a></li>
            <li><a href="#" class="hover:text-sky-800">Monacato / Clero</a></li>
            <li><a href="#" class="hover:text-sky-800">Santo Sínodo Jerárquico</a></li>
            <li><a href="#" class="hover:text-sky-800">Administración</a></li>
            <li><a href="#" class="hover:text-sky-800">Autonomía</a></li>
            <li><a href="#" class="hover:text-sky-800">Proclamación Eclesiológica</a></li>
            <li><a href="#" class="hover:text-sky-800">Noticias</a></li>
            <li><a href="#" class="hover:text-sky-800">Anuncios</a></li>
          </ul>
        </div>
      </div>

      <!-- Columna #2 -->
      <div class="grid gap-4">
        <!-- Primera Fila -->
        <div class="hidden lg:block">
          <div class="flex flex-col space-y-2">
            <h3 class="font-semibold mb-2">Servicio Divino</h3>
            <ul class="list-none p-0 ml-6 text-sm">
              <li><a href="#" class="hover:text-sky-800">Horario de servicios</a></li>
              <li><a href="#" class="hover:text-sky-800">Sermones</a></li>
              <li><a href="#" class="hover:text-sky-800">Bautismos</a></li>
              <li><a href="#" class="hover:text-sky-800">Bodas</a></li>
              <li><a href="#" class="hover:text-sky-800">Servicios funerarios</a></li>
            </ul>
          </div>
        </div>
        <!-- Segunda Fila -->
        <div class="hidden lg:block">
          <div class="flex flex-col space-y-2">
            <h3 class="font-semibold mb-2">Monasterio</h3>
            <ul class="list-none p-0 ml-6 text-sm">
              <li><a href="#" class="hover:text-sky-800">Historia del monasterio</a></li>
              <li><a href="#" class="hover:text-sky-800">Plano del monasterio</a></li>
              <li><a href="#" class="hover:text-sky-800">Ecología del lugar</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Columna #3 -->
      <div class="hidden lg:block">
        <div class="flex flex-col space-y-2">
          <h3 class="font-semibold mb-2">Para huespedes</h3>
          <ul class="list-none p-0 ml-6 text-sm">
            <li><a href="#" class="hover:text-sky-800">Introducción</a></li>
            <li><a href="#" class="hover:text-sky-800">Teología</a></li>
            <li><a href="#" class="hover:text-sky-800">Tienda</a></li>
            <li><a href="#" class="hover:text-sky-800">Exposición de Reliquias</a></li>
            <li><a href="#" class="hover:text-sky-800">Ayuda a la Iglesia</a></li>
            <li><a href="#" class="hover:text-sky-800">Enviar una nota</a></li>
          </ul>
        </div>
      </div>

      <!-- Columna #4 -->
      <div class="hidden lg:block">
        <div class="flex flex-col space-y-2">
          <h3 class="font-semibold mb-2">Proyectos</h3>
          <ul class="list-none p-0 ml-6 text-sm">
            <li><a href="#" class="hover:text-sky-800">Editorial</a></li>
            <li><a href="#" class="hover:text-sky-800">Coro</a></li>
            <li><a href="#" class="hover:text-sky-800">Cursos educativos</a></li>
            <li><a href="#" class="hover:text-sky-800">Centro espiritual</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>


  <!-- NIVEL 2 -->
  <div class="bg-lapis-lazuli-700 p-4">
    <div class="grid grid-cols-1 md:grid-cols-5 gap-4 my-8 max-w-screen-lg mx-8 sm:mx-0 md:mx-32">

      <!-- Columnas #1-3 -->
      <div class="col-span-3 flex flex-col space-y-4">
        <h2 class="text-xl font-semibold txt-white-0 mb-2">Metrópolis Ortodoxa Autónoma de Ecuador y
          Latinoamérica</h2>
        <p class="text-sm txt-white-0">La MISIÓN de la Metrópolis Ortodoxa Autónoma (GOC) de Ecuador y
          Latinoamérica, es antes que nada creer y cumplir el mandato de Cristo “Id por todo el mundo haciendo
          discípulos en todas las naciones, bautizándolos en el nombre del Padre, del Hijo y del Espíritu Santo...</p>
        <div class="self-start">
          <button class="bg-cadet-gray-100 txt-yale-blue-100 px-4 py-2 rounded hover:bg-white text-sm font-semibold">Aprende más sobre GOC</button>
        </div>
      </div>

      <!-- Columnas #4-5 -->
      <div class="col-span-2 items-center justify-center space-x-4 hidden md:flex">
        <!-- <img src="#" alt="Theotokos" class="w-full h-auto object-cover rounded-lg"> -->
        <p class="text-sm">"Theotokos"</p>
      </div>
    </div>
  </div>


  <!-- NIVEL 3 -->
  <div class="bg-yale-blue-100 txt-cadet-gray-100 p-4">
    <div class="mt-2 grid grid-cols-1 sm:grid-cols-3 gap-0 sm:gap-32 mx-8">

      <!-- Columna #1 -->
      <div class="flex flex-col sm:flex-row mb-2 sm:mb-0">
        <div class="flex-1 flex flex-col items-center justify-center text-xs">
          <div class="flex items-center space-x-0.5">
            <p class="text-center">
              <span>Calle Julio Castro E4-55 entre Los Ríos y Av. Gran Colombia</span>
            </p>
            <a href="https://www.google.com/maps?ll=-0.216032,-78.501738&z=15&t=m&hl=en-US&gl=US&mapclient=embed&cid=18401032396104951378"
              target="_blank" rel="Google Maps" class="text-2xl hover:text-white">
              <ng-icon name="hugeGoogleMaps"></ng-icon>
            </a>
          </div>
          <p class="text-center">Quito - Ecuador</p>
        </div>
      </div>

      <!-- Columna #2 -->
      <div class="flex flex-col items-center justify-center text-xs mb-2 sm:mb-0">
        <p class="text-center">
          <span class="font-bold">Teléfono:</span> 0992604310 - 0997759332
        </p>
        <p class="text-center">
          <span class="font-bold">Email:</span> iglesiaortodoxa&#64;gmail.com
        </p>
      </div>

      <!-- Columna #3 -->
      <div class="flex flex-col items-center justify-center text-xs">
        <div class="flex space-x-4 mb-2">
          <!-- Iconos Contactos -->
          <a href="https://www.facebook.com/OrtodoxaEcuador/?fref=ts" target="_blank" rel="Facebook"
            class="flex items-center hover:text-white text-2xl">
            <ng-icon name="hugeFacebook01"></ng-icon>
          </a>
          <a href="https://x.com/vlchrysostomos" target="_blank" rel="Twitter"
            class="flex items-center hover:text-white text-2xl">
            <ng-icon name="hugeNewTwitterRectangle"></ng-icon>
          </a>
          <a href="https://www.youtube.com/channel/UC2gX1KgIsDIG6Jp9hdozLOw" target="_blank" rel="YouTube"
            class="flex items-center hover:text-white text-2xl">
            <ng-icon name="hugeYoutube"></ng-icon>
          </a>
          <a href="https://www.instagram.com/iglesiaortodoxa/" target="_blank" rel="Instagram"
            class="flex items-center hover:text-white text-2xl">
            <ng-icon name="hugeInstagram"></ng-icon>
          </a>
        </div>
        <p class="text-center text-xs">&copy; 2024 Metrópolis Ortodoxa Autónoma de Ecuador y Latinoamérica</p>
      </div>
    </div>
  </div>

</footer>