<footer>

    <!-- NIVEL #1 -->
    <div class="bg-slate-400 opacity-95 text-white px-4 py-6">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-12 mx-32">

            <!-- Columna #1 -->
            <div class="flex flex-col space-y-2">
                <h3 class="font-semibold mb-2">Vida de Iglesia</h3>
                <ul class="list-none p-0 ml-6 text-sm">
                    <li><a href="#" class="hover:underline">Dios y el hombre</a></li>
                    <li><a href="#" class="hover:underline">Iglesia</a></li>
                    <li><a href="#" class="hover:underline">Biblia y Escrituras</a></li>
                    <li><a href="#" class="hover:underline">Liturgia y Adoración</a></li>
                    <li><a href="#" class="hover:underline">Santos y Ascetas</a></li>
                    <li><a href="#" class="hover:underline">Monacato / Clero</a></li>
                    <li><a href="#" class="hover:underline">Santo Sínodo Jerárquico</a></li>
                    <li><a href="#" class="hover:underline">Administración</a></li>
                    <li><a href="#" class="hover:underline">Autonomía</a></li>
                    <li><a href="#" class="hover:underline">Proclamación Eclesiológica</a></li>
                    <li><a href="#" class="hover:underline">Noticias</a></li>
                    <li><a href="#" class="hover:underline">Anuncios</a></li>
                </ul>
            </div>
            <!-- Columna #2 -->
            <div class="grid gap-4">
                <!-- Primera Fila -->
                <div class="flex flex-col space-y-2">
                    <h3 class="font-semibold mb-2">Servicio Divino</h3>
                    <ul class="list-none p-0 ml-6 text-sm">
                        <li><a href="#" class="hover:underline">Horario de servicios</a></li>
                        <li><a href="#" class="hover:underline">Sermones</a></li>
                        <li><a href="#" class="hover:underline">Bautismos</a></li>
                        <li><a href="#" class="hover:underline">Bodas</a></li>
                        <li><a href="#" class="hover:underline">Servicios funerarios</a></li>
                    </ul>
                </div>
                <!-- Segunda Fila -->
                <div class="flex flex-col space-y-2">
                    <h3 class="font-semibold mb-2">Monasterio</h3>
                    <ul class="list-none p-0 ml-6 text-sm">
                        <li><a href="#" class="hover:underline">Historia del monasterio</a></li>
                        <li><a href="#" class="hover:underline">Plano del monasterio</a></li>
                        <li><a href="#" class="hover:underline">Ecología del lugar</a></li>
                    </ul>
                </div>
            </div>
            <!-- Columna #3 -->
            <div class="flex flex-col space-y-2">
                <h3 class="font-semibold mb-2">Para huespedes</h3>
                <ul class="list-none p-0 ml-6 text-sm">
                    <li><a href="#" class="hover:underline">Introducción</a></li>
                    <li><a href="#" class="hover:underline">Teología</a></li>
                    <li><a href="#" class="hover:underline">Tienda</a></li>
                    <li><a href="#" class="hover:underline">Exposición de Reliquias</a></li>
                    <li><a href="#" class="hover:underline">Ayuda a la Iglesia</a></li>
                    <li><a href="#" class="hover:underline">Enviar una nota</a></li>
                </ul>
            </div>
            <!-- Columna #4 -->
            <div class="flex flex-col space-y-2">
                <h3 class="font-semibold mb-2">Proyectos</h3>
                <ul class="list-none p-0 ml-6 text-sm">
                    <li><a href="#" class="hover:underline">Editorial</a></li>
                    <li><a href="#" class="hover:underline">Coro</a></li>
                    <li><a href="#" class="hover:underline">Cursos educativos</a></li>
                    <li><a href="#" class="hover:underline">Centro espiritual</a></li>
                </ul>
            </div>

        </div>
    </div>

    <!-- NIVEL #2 -->
    <div class="bg-blue-500 opacity-55 text-white p-4">
        <div class="grid grid-cols-1 md:grid-cols-5 gap-4 my-8 max-w-screen-lg mx-32">
          <!-- Columnas #1-3 -->
          <div class="col-span-3 flex flex-col space-y-4">
            <h2 class="text-xl font-semibold mb-2">Metrópolis Ortodoxa Autónoma de Ecuador y Latinoamérica</h2>
            <p class="text-sm">La MISIÓN de la Metrópolis Ortodoxa Autónoma (GOC) de Ecuador y Latinoamérica, es antes que nada creer y cumplir el mandato de Cristo “Id por todo el mundo haciendo discípulos en todas las naciones, bautizándolos en el nombre del Padre, del Hijo y del Espíritu Santo...</p>
            <div class="self-start">
              <button class="bg-slate-300 text-blue-900 px-4 py-2 rounded hover:bg-white text-sm font-semibold">Aprende más sobre GOC</button>
            </div>
          </div>

          <!-- Columnas #4-5 -->
          <div class="col-span-2 flex items-center justify-center space-x-4">
            <!-- <img src="#" alt="Theotokos" class="w-full h-auto object-cover rounded-lg"> -->
            <p class="text-sm">Theotokos</p>
          </div>
        </div>
      </div>

    <!-- NIVEL #3 -->
    <div class="bg-blue-900 opacity-85 text-white p-4">
        <div class="mt-2 grid grid-cols-1 sm:grid-cols-3 gap-32 mx-8">

          <!-- Columna 1 -->
          <div class="bg-blue-900 opacity-85 text-white p-4">
            <div class="flex flex-col sm:flex-row">
              <!-- Columna b1: 90% ancho -->
              <div class="flex-1 flex flex-col space-y-1 items-center justify-center text-xs">
                <p class="text-center text-slate-400">Calle Julio Castro E4-55 entre Los Ríos y Av. Gran Colombia</p>
                <p class="text-center text-slate-400">Quito - Ecuador</p>
              </div>
              <!-- Columna b2: 10% ancho -->
              <div class="flex-none w-1/12 flex items-center justify-center text-2xl">
                <a href="https://www.google.com/maps?ll=-0.216032,-78.501738&z=15&t=m&hl=en-US&gl=US&mapclient=embed&cid=18401032396104951378"
                   target="_blank"
                   rel="noopener noreferrer"
                   class="text-slate-400 hover:text-white">
                  <ng-icon name="hugeGoogleMaps"></ng-icon>
                </a>
              </div>
            </div>
          </div>

          <!-- Columna 2 -->
          <div class="flex flex-col items-center justify-center text-xs">
            <p class="text-center text-slate-400">
              <span class="font-bold">Teléfono:</span> 0992604310 - 0997759332
            </p>
            <p class="text-center text-slate-400">
              <span class="font-bold">Email:</span> iglesiaortodoxa&#64;gmail.com
            </p>
          </div>

          <!-- Columna 3 -->
          <div class="flex flex-col items-center justify-center text-xs">
            <div class="flex space-x-4 mb-2">
                <!-- Iconos Contactos -->
                <a href="https://www.facebook.com/OrtodoxaEcuador/?fref=ts" target="_blank" rel="Facebook" class="flex items-center text-slate-400 hover:text-white text-2xl">
                    <ng-icon name="hugeFacebook01"></ng-icon>
                  </a>
                  <a href="https://x.com/vlchrysostomos" target="_blank" rel="Twitter" class="flex items-center text-slate-400 hover:text-white text-2xl">
                    <ng-icon name="hugeNewTwitterRectangle"></ng-icon>
                  </a>
                  <a href="https://www.youtube.com/channel/UC2gX1KgIsDIG6Jp9hdozLOw" target="_blank" rel="YouTube" class="flex items-center text-slate-400 hover:text-white text-2xl">
                    <ng-icon name="hugeYoutube"></ng-icon>
                  </a>
                  <a href="https://www.instagram.com/iglesiaortodoxa/" target="_blank" rel="Instagram" class="flex items-center text-slate-400 hover:text-white text-2xl">
                    <ng-icon name="hugeInstagram"></ng-icon>
                  </a>
              </div>
              <p class="text-center text-slate-400 text-xs">&copy; 2024 Metrópolis Ortodoxa Autónoma de Ecuador y Latinoamérica</p>
          </div>
        </div>
      </div>

</footer>