<div class="flex-1 p-4">
    <!-- Grid layout -->
    <div class="grid gap-4">

        <div class="bg-white p-4">
            <div class="space-y-4 my-8 mx-32">
                <!-- Fila 1 -->
                <div>
                    <h2 class="text-2-5xl font-normal font-serif txt-lapis-lazuli-700">{{ 'CREED_TITLE' | translate
                        }}</h2>
                    <div class="border-t-2 border-gray-300 mt-1 mb-4"></div>
                    <p class="mt-2 text-base font-extralight text-justify mb-4">{{ 'CREED_CONTENT_P1' |
                        translate }}
                    </p>
                    <p class="mt-2 text-base font-extralight text-justify mb-4">{{ 'CREED_CONTENT_P2' |
                        translate }}
                    </p>
                    <p class="mt-2 text-base font-extralight text-justify mb-4">{{ 'CREED_CONTENT_P3' |
                        translate }}
                    </p>
                    <p class="mt-2 text-base font-extralight text-justify mb-4">{{ 'CREED_CONTENT_P4' |
                        translate }}
                    </p>
                    <p class="mt-2 text-base font-extralight text-justify mb-4">{{ 'CREED_CONTENT_P5' |
                        translate }}
                    </p>
                    <p class="mt-2 text-base font-extralight text-justify mb-4">{{ 'CREED_CONTENT_P6' |
                        translate }}
                    </p>
                    <blockquote class="bg-slate-200 italic p-6 pl-6 pr-10 pb-4 border-l-8 border-[#385D8D] relative mb-4">
                        <p class="says">{{ 'CREED_QUOTE_P1' |
                        translate }}
                        </p>
                    </blockquote>
                    <p class="mt-2 text-base font-extralight text-justify mb-4">{{ 'CREED_CONTENT_P7' |
                        translate }}
                    </p>
                    <blockquote class="bg-slate-200 italic p-6 pl-6 pr-10 pb-4 border-l-8 border-[#385D8D] relative mb-4">
                        <p class="says">{{ 'CREED_QUOTE_P2' |
                        translate }}
                        </p>
                    </blockquote>
                    <p class="mt-2 text-base font-extralight text-justify mb-4">{{ 'CREED_CONTENT_P8' |
                        translate }}
                    </p>
                    <p class="mt-2 text-base font-extralight text-justify">{{ 'CREED_CONTENT_P9' |
                        translate }}
                    </p>
                </div>

            </div>
        </div>

    </div>
</div>