<div class="flex-1 p-4">
    <!-- Grid layout -->
    <div class="grid gap-4">

        <div class="bg-white p-4">
            <div class="space-y-4 my-8 mx-32">
                <!-- Fila 1 -->
                <div>
                    <h2 class="text-2xl font-medium txt-lapis-lazuli-700">{{ 'BIBLE_TITLE' | translate }}
                    </h2>
                    <p class="mt-2 text-base font-extralight text-justify">{{ 'BIBLE_CONTENT_P1' | translate }}</p>
                    <p class="mt-2 text-base font-extralight text-justify">{{ 'BIBLE_CONTENT_P2' | translate }}</p>
                </div>

                <!-- Fila 2 -->
                <div>
                    <h2 class="text-2xl font-medium txt-gray-700">{{ 'BIBLE_TITLE_OT' | translate }}
                    </h2>
                    <p class="mt-2 text-base font-extralight text-justify">{{ 'BIBLE_CONTENT_P3' | translate }}</p>
                    <p class="mt-2 text-base font-extralight text-justify">{{ 'BIBLE_CONTENT_P4' | translate }}</p>
                    <p class="mt-2 text-base font-extralight text-justify">{{ 'BIBLE_CONTENT_P5' | translate }}</p>
                </div>

                <!-- Fila 3 -->
                <div>
                    <h2 class="text-2xl font-medium txt-gray-700">{{ 'BIBLE_TITLE_NT' | translate }}
                    </h2>
                    <p class="mt-2 text-base font-extralight text-justify">{{ 'BIBLE_CONTENT_P6' | translate }}</p>
                    <p class="mt-2 text-base font-extralight text-justify">{{ 'BIBLE_CONTENT_P7' | translate }}</p>
                    <p class="mt-2 text-base font-extralight text-justify">{{ 'BIBLE_CONTENT_P8' | translate }}</p>
                    <p class="mt-2 text-base font-extralight text-justify">{{ 'BIBLE_CONTENT_P9' | translate }}</p>
                </div>
            </div>
        </div>

    </div>
</div>