<div class="flex justify-center items-center min-h-screen">
    <div class="relative md:w-[600px] w-[400px] md:h-[800px] h-auto">
        <img src="assets/images/monasticism_800x600.png" alt="Página en construcción"
            class="w-full h-full object-cover" />

        <!-- Top text -->
        <div class="absolute top-12 left-1/2 transform -translate-x-1/2 text-[#808080] md:text-4xl text-2xl font-black uppercase text-center">{{ 'IN_CONSTRUCTION_P1' | translate }}</div>

        <!-- Bottom text -->
        <div class="absolute bottom-12 left-1/2 transform -translate-x-1/2 text-[#808080] md:text-4xl text-2xl font-black uppercase text-center">{{ 'IN_CONSTRUCTION_P2' | translate }}</div>
    </div>
</div>