<div #container class='root-container'></div>
<ejs-dialog
    id='dialog'
    #ejDialog
    header='Dialog'
    showCloseIcon='true'
    [visible]='visible'
    isModal='true'
    content='This is a modal dialog'
    width='95%'
    height="90%"
    [buttons]='buttons'>
    <ng-template #header cssClass="e-dialog e-dlg-header">
        <span class='title'>{{ tituloVentana }}</span>
    </ng-template>
    <ng-template #content>

        <p-tabView [(activeIndex)]="indiceDeTabActiva">
            <p-tabPanel header="SANTORAL">
                <div>

                    <div class="h-screen">
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-x-4 h-full p-4 pt-0">
                            <!-- IMAGEN -->
                            <!-- columna 1, fila 1 -->
                            <div class="col-span-1 row-span-10 icon-border-ambar p-4">
                                <img class="w-1/2 md:size-full mx-auto" [src]="imageIconUrl" alt="Icono del día" />
                            </div>

                            <!-- TEXTO -->
                            <!-- columna 2, fila 1 -->
                            <div class="col-span-1 p-4 pt-0 mt-4 md:mt-0">
                                <label for="diaCalendarioCivil" class="uppercase font-medium">día calendario civil:</label>
                                <div class="pastel-ambar">
                                    <ejs-textbox id="diaCalendarioCivil" cssClass="e-outline" [(value)]="fechaCivil" [readonly]="soloLectura">
                                    </ejs-textbox>
                                </div>
                            </div>
                            <!-- columna 2, fila 2 -->
                            <div class="col-span-1 p-4 pt-0">
                                <label for="diaCalendarioJuliano" class="uppercase font-medium">día calendario juliano:</label>
                                <div class="pastel-orange">
                                    <ejs-textbox id="diaCalendarioJuliano" cssClass="e-outline" [(value)]="fechaJuliana" [readonly]="soloLectura"></ejs-textbox>
                                </div>
                            </div>
                            <!-- columna 2, fila 3 -->
                            <div class="col-span-1 p-4 pt-0">
                                <label for="descripcionDia" class="uppercase font-medium">descripción del día:</label>
                                <ejs-textbox id="descripcionDia" cssClass="e-outline" [(value)]="celda.descripcionDia" [readonly]="soloLectura"></ejs-textbox>
                            </div>
                            <!-- columna 2, fila 4 -->
                            <div class="col-span-1 p-4 pt-0">
                                <label for="tonoCantico" class="uppercase font-medium">tono de cántico:</label>
                                <ejs-textbox id="tonoCantico" cssClass="e-outline" [(value)]="celda.tonoCantico" [readonly]="soloLectura"></ejs-textbox>
                            </div>
                            <!-- columna 2, fila 5 -->
                            <div class="col-span-1 p-4 pt-0">
                                <label for="guiaAyuno" class="uppercase font-medium">guia de ayuno:</label>
                                <ejs-textbox id="guiaAyuno" cssClass="e-outline" [(value)]="celda.guiaAyuno" [readonly]="soloLectura"></ejs-textbox>
                            </div>
                            <!-- columna 2, fila 6 -->
                            <div class="col-span-1 p-4 pt-0">
                                <label for="fiestasLiturgicas" class="uppercase font-medium">fiestas litúrgicas:</label>
                                <div class="pastel-yellow">
                                    <ejs-textarea id="fiestasLiturgicas" cssClass="e-outline" [(value)]="celda.fiestasLiturgicas" [readonly]="soloLectura"></ejs-textarea>
                                </div>
                            </div>
                            <!-- columna 2, fila 7 -->
                            <div class="col-span-1 p-4 pt-0">
                                <label for="santosCelebrados" class="uppercase font-medium">santos celebrados:</label>
                                <ejs-textarea id="santosCelebrados" cssClass="e-outline" [(value)]="celda.santosCelebrados" [readonly]="soloLectura"></ejs-textarea>
                            </div>
                            <!-- columna 2, fila 8 -->
                            <div class="col-span-1 p-4 pt-0">
                                <label for="guiaLiturgia" class="uppercase font-medium">guia de liturgia:</label>
                                <ejs-textbox id="guiaLiturgia" cssClass="e-outline" [(value)]="celda.guiaLiturgia" [readonly]="soloLectura"></ejs-textbox>
                            </div>
                            <!-- columna 2, fila 9 -->
                            <div class="col-span-1 p-4 pt-0">
                                <label for="lecturaDiariaEpistola" class="uppercase font-medium">lectura diaria de epístola:</label>
                                <ejs-textarea id="lecturaDiariaEpistola" cssClass="e-outline" [(value)]="celda.lecturaDiariaEpistola" [readonly]="soloLectura"></ejs-textarea>
                            </div>
                            <!-- columna 2, fila 10 -->
                            <div class="col-span-1 p-4 pt-0 pb-0">
                                <label for="lecturaDiariaEvangelio" class="uppercase font-medium">lectura diaria de evangelio:</label>
                                <ejs-textarea id="lecturaDiariaEvangelio" cssClass="e-outline" [(value)]="celda.lecturaDiariaEvangelio" [readonly]="soloLectura"></ejs-textarea>
                            </div>
                        </div>
                    </div>

                </div>
            </p-tabPanel>
            <p-tabPanel [disabled]="tabDeshabilitado" header="HISTORIA">
                <div>

                    <div class="h-screen">
                        <quill-editor class="content-editor" [styles]="{height: '100%'}" [styles]="{width: '100%'}" [(ngModel)]="celda.descripcionIcono" [modules]="editorModules" [readOnly]="true"></quill-editor>
                    </div>

                </div>
            </p-tabPanel>
        </p-tabView>

    </ng-template>
</ejs-dialog>