<div class="flex-1 p-4">
    <!-- Grid layout -->
    <div class="grid gap-4">

        <div class="bg-white p-4">
            <!-- Margenes responsive -->
            <div class="space-y-4 my-8 mx-4 sm:mx-8 md:mx-16 lg:mx-32">

                <!-- Fila 1 -->
                <div>
                    <h2 class="text-3xl font-bold text-center my-6">Ultimos Eventos</h2>
                    <ul>
                        <li *ngFor="let events of eventsList" (click)="openEvents(events.id)" class="border-b border-gray-300 cursor-pointer mb-4">

                            <!-- Fecha -->
                            <div class="text-sm text-gray-500 mb-2">
                                {{ events.date }}
                            </div>

                            <!-- Titulo -->
                            <div class="text-lg font-semibold font-serif txt-eerie-black-300 hover:underline">
                                {{ events.title }}
                            </div>

                            <!-- Contenido -->
                            <p class="text-sm text-gray-600 mt-2 text-justify mb-4">
                                {{ getSummary(events.content) }}
                            </p>

                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>