<div class="flex-1 p-4">
    <!-- Grid layout -->
    <div class="grid gap-4">

        <div class="bg-white p-4">
            <!-- Margenes responsive -->
            <div class="space-y-4 my-8 mx-4 sm:mx-8 md:mx-16 lg:mx-32">

                <!-- Fila 1 -->
                <div class="container">
                    <div class="book">
                        <div class="front">
                            <div class="cover">
                                <img src="assets/images/books/book_camino_ortodoxo.png" alt="Cover"/>
                            </div>
                        </div>
                        <div class="left-side">
                            <h2>
                                <span>Vladyka Chrysóstomos</span>
                                <span>CAMINO ORTODOXO</span>
                            </h2>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>