<div class="flex-1 p-4">
    <!-- Grid layout -->
    <div class="grid gap-4">

        <div class="bg-white p-4">
            <!-- Margenes responsive -->
            <div class="space-y-4 my-8 mx-4 sm:mx-8 md:mx-16 lg:mx-32">

                <!-- Fila 1 -->
                <div>
                    <div class="grid grid-cols-1 md:grid-cols-4">

                        <!-- Column spanning 1 to 3 -->
                        <div class="col-span-3 p-4">

                            <!-- Content for the first 3 columns -->
                            <div class="flex justify-center">

                                <!-- Fila 1 -->
                                <div class="card">
                                    <div class="cover">
                                        <img src="assets/images/books/why-orthodox-christianity.png" alt="Cover" />
                                    </div>
                                    <div class="content">
                                        <h2>3D ANIMATIONS</h2>
                                        <p>Introduction</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- Column 4 with 4 rows -->
                        <div class="flex flex-col justify-center h-full p-4 space-y-4">
                            <div class="p-2 shadow rounded text-center">
                                <p>Nuevo Libro Próximamente</p>
                            </div>
                            <div class="p-2 shadow rounded text-center">
                                <p>El Camino de la Ortodoxia</p>
                            </div>
                            <div class="p-2 shadow rounded text-center">
                                <p>por Vladyka Chrisóstomos</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>