<div class="flex-1 p-4">
    <!-- Grid layout -->
    <div class="grid gap-4">

        <div class="bg-white p-4">
            <div class="space-y-4 my-8 mx-32">
                <!-- Fila 1 -->
                <div>
                    <h2 class="text-2-5xl font-normal font-serif txt-lapis-lazuli-700">{{ 'SAINTS_TITLE' | translate }}
                    </h2>
                    <div class="border-t-2 border-gray-300 mt-1 mb-4"></div>
                    <p class="mt-2 text-base font-extralight text-justify">{{ 'SAINTS_CONTENT_P1' | translate }}</p>
                </div><br>

                <!-- Fila 2 -->
                <div>
                    <h2 class="text-2xl font-normal font-serif txt-gray-700">{{ 'SAINTS_BIBLE' | translate }}
                    </h2>
                    <div class="border-t-1-5 border-gray-300 mt-1 mb-4"></div>
                    <p class="mt-2 text-base font-extralight text-justify">{{ 'SAINTS_CONTENT_P2' | translate }}</p>
                </div><br>

                <!-- Fila 3 -->
                <div>
                    <h2 class="text-2xl font-normal font-serif txt-gray-700">{{ 'SAINTS_CHURCH' | translate }}
                    </h2>
                    <div class="border-t-1-5 border-gray-300 mt-1 mb-4"></div>
                    <p class="mt-2 text-base font-extralight text-justify mb-4">{{ 'SAINTS_CONTENT_P3' | translate }}</p>
                    <p class="mt-2 text-base font-extralight text-justify">{{ 'SAINTS_CONTENT_P4' | translate }}</p>
                </div><br>

                <!-- Fila 4 -->
                <div>
                    <h2 class="text-2xl font-normal font-serif txt-gray-700">{{ 'SAINTS_RECOGNITION' | translate }}
                    </h2>
                    <div class="border-t-1-5 border-gray-300 mt-1 mb-4"></div>
                    <p class="mt-2 text-base font-extralight text-justify mb-4">{{ 'SAINTS_CONTENT_P5' | translate }}</p>
                    <p class="mt-2 text-base font-extralight text-justify mb-4">{{ 'SAINTS_CONTENT_P6' | translate }}</p>
                    <p class="mt-2 text-base font-extralight text-justify">{{ 'SAINTS_CONTENT_P7' | translate }}</p>
                </div>
            </div>
        </div>

    </div>
</div>