<div class="flex-1 p-4">
    <!-- Grid layout -->
    <div class="grid gap-4">

        <div class="bg-white p-4">
            <div class="space-y-4 my-8 mx-32">
                <!-- Fila 1 -->
                <div>
                    <h2 class="text-2-5xl font-normal font-serif txt-lapis-lazuli-700">{{ 'MISION_TITLE' | translate }}
                    </h2>
                    <div class="border-t-2 border-gray-300 mt-1 mb-4"></div>
                    <p class="mt-2 text-base font-extralight text-justify">{{ 'MISION_CONTENT_1' | translate }}<span
                        class="font-bold italic">{{ 'MISION_IMPORTANT' | translate }}</span>{{ 'MISION_CONTENT_2' | translate }}</p>
                </div><br>

                <!-- Fila 2 -->
                <div>
                    <h2 class="text-2-5xl font-normal font-serif txt-lapis-lazuli-700">{{ 'VISION_TITLE' | translate }}
                    </h2>
                    <div class="border-t-2 border-gray-300 mt-1 mb-4"></div>
                    <p class="mt-2 text-base font-extralight text-justify">{{ 'VISION_CONTENT' | translate }}</p>
                </div>
            </div>
        </div>

    </div>
</div>