<div class="flex-1 p-4">
    <!-- Grid layout -->
    <div class="grid gap-4">

        <div class="bg-white p-4">
            <!-- Margenes responsive -->
            <div class="space-y-4 my-8 mx-4 sm:mx-8 md:mx-16 lg:mx-32">

                <!-- Fila 1 -->
                <div>
                    <h2 class="text-2-5xl font-normal font-serif txt-lapis-lazuli-700">{{ 'COUNCILS_TITLE' | translate
                        }}</h2>
                    <div class="border-t-2 border-gray-300 mt-1 mb-4"></div>
                    <p class="mt-2 text-base font-extralight text-justify mb-4">{{ 'COUNCILS_CONTENT_P1' |
                        translate }}
                    </p>
                    <p class="mt-2 text-base font-extralight text-justify mb-4">{{ 'COUNCILS_CONTENT_P2' |
                        translate }}
                    </p>
                    <p class="mt-2 text-base font-extralight text-justify mb-4">{{ 'COUNCILS_CONTENT_P3' |
                        translate }}
                    </p>
                    <p class="mt-2 text-base font-extralight text-justify mb-4">{{ 'COUNCILS_CONTENT_P4' |
                        translate }}
                    </p>
                    <p class="mt-2 text-base font-extralight text-justify">{{ 'COUNCILS_CONTENT_P5' |
                        translate }}
                    </p>
                </div><br>

                <!-- Fila 2 -->
                <div>
                    <h2 class="text-2xl font-normal font-serif txt-gray-700">{{ 'SEC_TITLE' | translate }}
                    </h2>
                    <div class="border-t-1-5 border-gray-300 mt-1 mb-4"></div>
                    <div class="overflow-x-auto">
                        <table class="min-w-full bg-white border border-gray-300">
                            <thead>
                                <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                                    <th class="py-3 px-6 text-left">{{ 'SEC_COUNCIL' | translate }}</th>
                                    <th class="py-3 px-6 text-left">{{ 'SEC_YEAR' | translate }}</th>
                                    <th class="py-3 px-6 text-left">{{ 'SEC_FORMULATION' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody class="txt-eerie-black-300 text-sm font-light">
                                <tr class="border-b border-gray-200">
                                    <td class="py-3 px-6 text-left">{{ 'SEC_COUNCIL_P1' | translate }}</td>
                                    <td class="py-3 px-6 text-left">325</td>
                                    <td class="py-3 px-6 text-left">
                                        {{ 'SEC_FORMULATION_P1' | translate }}
                                    </td>
                                </tr>
                                <tr class="border-b border-gray-200">
                                    <td class="py-3 px-6 text-left">{{ 'SEC_COUNCIL_P2' | translate }}</td>
                                    <td class="py-3 px-6 text-left">381</td>
                                    <td class="py-3 px-6 text-left">
                                        {{ 'SEC_FORMULATION_P2' | translate }}
                                    </td>
                                </tr>
                                <tr class="border-b border-gray-200">
                                    <td class="py-3 px-6 text-left">{{ 'SEC_COUNCIL_P3' | translate }}</td>
                                    <td class="py-3 px-6 text-left">431</td>
                                    <td class="py-3 px-6 text-left">
                                        {{ 'SEC_FORMULATION_P3' | translate }}
                                    </td>
                                </tr>
                                <tr class="border-b border-gray-200">
                                    <td class="py-3 px-6 text-left">{{ 'SEC_COUNCIL_P4' | translate }}</td>
                                    <td class="py-3 px-6 text-left">451</td>
                                    <td class="py-3 px-6 text-left">
                                        {{ 'SEC_FORMULATION_P4' | translate }}
                                    </td>
                                </tr>
                                <tr class="border-b border-gray-200">
                                    <td class="py-3 px-6 text-left">{{ 'SEC_COUNCIL_P5' | translate }}</td>
                                    <td class="py-3 px-6 text-left">553</td>
                                    <td class="py-3 px-6 text-left">
                                        {{ 'SEC_FORMULATION_P5' | translate }}
                                    </td>
                                </tr>
                                <tr class="border-b border-gray-200">
                                    <td class="py-3 px-6 text-left">{{ 'SEC_COUNCIL_P6' | translate }}</td>
                                    <td class="py-3 px-6 text-left">680</td>
                                    <td class="py-3 px-6 text-left">
                                        {{ 'SEC_FORMULATION_P6' | translate }}
                                    </td>
                                </tr>
                                <tr class="border-b border-gray-200">
                                    <td class="py-3 px-6 text-left">{{ 'SEC_COUNCIL_P7' | translate }}</td>
                                    <td class="py-3 px-6 text-left">787</td>
                                    <td class="py-3 px-6 text-left">
                                        {{ 'SEC_FORMULATION_P7' | translate }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>