<div class="flex-1 p-4">
    <!-- Grid layout -->
    <div class="grid gap-4">

        <div class="bg-white p-4">
            <!-- Margenes responsive -->
            <div class="space-y-4 my-8 mx-4 sm:mx-8 md:mx-16 lg:mx-32">

                <!-- Fila 1 -->
                <div>
                    <h2 class="text-2-5xl font-normal font-serif txt-lapis-lazuli-700">{{ 'UNITY_TITLE' | translate }}</h2>
                    <div class="border-t-2 border-gray-300 mt-1 mb-4"></div>
                    <p class="mt-2 text-base font-bold italic text-justify txt-eerie-black-300 mb-4">{{ 'UNITY_QUESTION' | translate }}</p>
                    <p class="mt-2 text-base font-extralight text-justify">{{ 'UNITY_CONTENT_P1' | translate }}</p>
                </div><br>

                <!-- Fila 2 -->
                <div>
                    <ul class="list-none pl-5 space-y-4">
                        <li class="before:content-['a.'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                            <div>
                                <p class="text-justify mb-4"><span class="font-medium text-[#757575] inline-block">{{ 'UNITY_ELEMENT_A' | translate }}</span>{{ 'UNITY_ELEMENT_A0' | translate }}</p>
                                <ul class="list-none pl-5 space-y-2">
                                    <li class="before:content-['1)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify">{{ 'UNITY_ELEMENT_A1' | translate }}</p>
                                        </div>
                                    </li>
                                    <li class="before:content-['2)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify">{{ 'UNITY_ELEMENT_A2' | translate }}</p>
                                        </div>
                                    </li>
                                    <li class="before:content-['3)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify">{{ 'UNITY_ELEMENT_A3' | translate }}</p>
                                        </div>
                                    </li>
                                    <li class="before:content-['4)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify">{{ 'UNITY_ELEMENT_A4' | translate }}</p>
                                        </div>
                                    </li>
                                    <li class="before:content-['5)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify">{{ 'UNITY_ELEMENT_A5' | translate }}</p>
                                        </div>
                                    </li>
                                </ul>
                                <p class="mt-4 text-base font-extralight text-justify">{{ 'UNITY_ELEMENT_A6' | translate }}</p>
                            </div>
                        </li>
                        <li class="before:content-['b.'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                            <div>
                                <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'UNITY_ELEMENT_B' | translate }}</span>{{ 'UNITY_ELEMENT_B0' | translate }}</p>
                            </div>
                        </li>
                        <li class="before:content-['c.'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                            <div>
                                <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'UNITY_ELEMENT_C' | translate }}</span>{{ 'UNITY_ELEMENT_C0' | translate }}</p>
                            </div>
                        </li>
                    </ul>
                </div><br>

                <!-- Fila 3 -->
                <div>
                    <p class="mt-2 text-base font-extralight text-justify mb-4">{{ 'UNITY_CONTENT_P2' | translate }}</p>
                    <p class="mt-2 text-base font-extralight text-justify">{{ 'UNITY_CONTENT_P3' | translate }}</p>
                </div>

            </div>
        </div>

    </div>
</div>