<div class="flex-1 p-4">
    <!-- Grid layout -->
    <div class="grid gap-4">

        <div class="bg-white p-4">
            <!-- Margenes responsive -->
            <div class="space-y-4 my-8 mx-4 sm:mx-8 md:mx-16 lg:mx-32">

                <!-- Fila 1 -->
                <div>
                    <h2 class="text-2-5xl font-normal font-serif txt-lapis-lazuli-700">{{ 'AUTOCEPHALY_TITLE' | translate }}</h2>
                    <div class="border-t-2 border-gray-300 mt-1 mb-4"></div>
                    <p class="mt-2 text-base font-extralight text-justify">{{ 'AUTOCEPHALY_CONTENT_P1' | translate }}</p>
                </div><br>

                <!-- Fila 2 -->
                <div>
                    <h2 class="text-2xl font-normal font-serif txt-lapis-lazuli-700">{{ 'AUTOCEPHALY_CHURCHS' | translate }}</h2>
                    <div class="border-t-1-5 border-gray-300 mt-1 mb-4"></div>
                    <p class="mt-2 text-base font-extralight text-justify mb-4">{{ 'AUTOCEPHALY_CHURCHS_P1' | translate }}</p>
                </div>

                <!-- Fila 3 -->
                <div>
                    <ul class="list-none pl-5 space-y-4">
                        <li class="before:content-['I.'] before:mr-2 before:text-xl before:font-medium before:font-serif before:text-[#757575] flex items-start">
                            <div>
                                <h2 class="text-xl font-medium font-serif text-[#757575] inline-block mb-4">{{ 'AUTOCEPHALY_I_NINE' | translate }}</h2>
                                <p class="text-base font-extralight text-justify mb-4">{{ 'AUTOCEPHALY_I_P0' | translate }}</p>
                                <ul class="list-none pl-5 space-y-2">
                                    <li class="before:content-['1)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_I_T1' | translate }}</span>{{ 'AUTOCEPHALY_I_P1' | translate }}</p>
                                        </div>
                                    </li>
                                    <li class="before:content-['2)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_I_T2' | translate }}</span>{{ 'AUTOCEPHALY_I_P2' | translate }}</p>
                                        </div>
                                    </li>
                                    <li class="before:content-['3)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_I_T3' | translate }}</span>{{ 'AUTOCEPHALY_I_P3' | translate }}</p>
                                        </div>
                                    </li>
                                    <li class="before:content-['4)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_I_T4' | translate }}</span>{{ 'AUTOCEPHALY_I_P4' | translate }}</p>
                                        </div>
                                    </li>
                                    <li class="before:content-['5)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_I_T5' | translate }}</span>{{ 'AUTOCEPHALY_I_P5' | translate }}</p>
                                        </div>
                                    </li>
                                    <li class="before:content-['6)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_I_T6' | translate }}</span>{{ 'AUTOCEPHALY_I_P6' | translate }}</p>
                                        </div>
                                    </li>
                                    <li class="before:content-['7)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_I_T7' | translate }}</span>{{ 'AUTOCEPHALY_I_P7' | translate }}</p>
                                        </div>
                                    </li>
                                    <li class="before:content-['8)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_I_T8' | translate }}</span>{{ 'AUTOCEPHALY_I_P8' | translate }}</p>
                                        </div>
                                    </li>
                                    <li class="before:content-['9)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_I_T9' | translate }}</span>{{ 'AUTOCEPHALY_I_P9' | translate }}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="before:content-['II.'] before:mr-2 before:text-xl before:font-medium before:font-serif before:text-[#757575] flex items-start">
                            <div>
                                <h2 class="text-xl font-medium font-serif text-[#757575] inline-block mb-4">{{ 'AUTOCEPHALY_II_FIVE' | translate }}</h2>
                                <ul class="list-none pl-5 space-y-2">
                                    <li class="before:content-['10)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_II_T1' | translate }}</span>{{ 'AUTOCEPHALY_II_P1' | translate }}</p>
                                        </div>
                                    </li>
                                    <li class="before:content-['11)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_II_T2' | translate }}</span>{{ 'AUTOCEPHALY_II_P2' | translate }}</p>
                                        </div>
                                    </li>
                                    <li class="before:content-['12)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_II_T3' | translate }}</span>{{ 'AUTOCEPHALY_II_P3' | translate }}</p>
                                        </div>
                                    </li>
                                    <li class="before:content-['13)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_II_T4' | translate }}</span>{{ 'AUTOCEPHALY_II_P4' | translate }}</p>
                                        </div>
                                    </li>
                                    <li class="before:content-['14)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_II_T5' | translate }}</span>{{ 'AUTOCEPHALY_II_P5' | translate }}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="before:content-['III.'] before:mr-2 before:text-xl before:font-medium before:font-serif before:text-[#757575] flex items-start">
                            <div>
                                <h2 class="text-xl font-medium font-serif text-[#757575] inline-block mb-4">{{ 'AUTOCEPHALY_III_SEVEN' | translate }}</h2>
                                <p class="text-base font-extralight text-justify mb-4">{{ 'AUTOCEPHALY_III_P0' | translate }}</p>
                                <ul class="list-none pl-5 space-y-2">
                                    <li class="before:content-['15)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_III_T1' | translate }}</span>{{ 'AUTOCEPHALY_III_P1' | translate }}</p>
                                        </div>
                                    </li>
                                    <li class="before:content-['16)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_III_T2' | translate }}</span>{{ 'AUTOCEPHALY_III_P2' | translate }}</p>
                                        </div>
                                    </li>
                                    <li class="before:content-['17)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_III_T3' | translate }}</span>{{ 'AUTOCEPHALY_III_P3' | translate }}</p>
                                        </div>
                                    </li>
                                    <li class="before:content-['18)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_III_T4' | translate }}</span>{{ 'AUTOCEPHALY_III_P4' | translate }}</p>
                                        </div>
                                    </li>
                                    <li class="before:content-['19)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_III_T5' | translate }}</span>{{ 'AUTOCEPHALY_III_P5' | translate }}</p>
                                        </div>
                                    </li>
                                    <li class="before:content-['20)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_III_T6' | translate }}</span>{{ 'AUTOCEPHALY_III_P6' | translate }}</p>
                                        </div>
                                    </li>
                                    <li class="before:content-['21)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_III_T7' | translate }}</span>{{ 'AUTOCEPHALY_III_P7' | translate }}</p>
                                        </div>
                                    </li>
                                </ul>
                                <p class="text-base font-extralight text-justify mt-4">{{ 'AUTOCEPHALY_III_P8' | translate }}</p>
                            </div>
                        </li>
                        <li class="before:content-['IV.'] before:mr-2 before:text-xl before:font-medium before:font-serif before:text-[#757575] flex items-start">
                            <div>
                                <h2 class="text-xl font-medium font-serif text-[#757575] inline-block mb-4">{{ 'AUTOCEPHALY_IV_CONFLICT' | translate }}</h2>
                                <p class="text-base font-extralight text-justify mb-4">{{ 'AUTOCEPHALY_IV_P0' | translate }}</p>
                                <ul class="list-none pl-5 space-y-2">
                                    <li class="before:content-['22)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_IV_T1' | translate }}</span>{{ 'AUTOCEPHALY_IV_P1' | translate }}</p>
                                        </div>
                                    </li>
                                    <li class="before:content-['23)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_IV_T2' | translate }}</span>{{ 'AUTOCEPHALY_IV_P2' | translate }}</p>
                                        </div>
                                    </li>
                                    <li class="before:content-['24)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_IV_T3' | translate }}</span>{{ 'AUTOCEPHALY_IV_P3' | translate }}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="before:content-['V.'] before:mr-2 before:text-xl before:font-medium before:font-serif before:text-[#757575] flex items-start">
                            <div>
                                <h2 class="text-xl font-medium font-serif text-[#757575] inline-block mb-4">{{ 'AUTOCEPHALY_V_OTHERS' | translate }}</h2>
                                <p class="text-base font-extralight text-justify mb-4">{{ 'AUTOCEPHALY_V_P0' | translate }}</p>
                                <ul class="list-none pl-5 space-y-2">
                                    <li class="before:content-['a)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_V_T1' | translate }}</span>{{ 'AUTOCEPHALY_V_P1' | translate }}</p>
                                        </div>
                                    </li>
                                    <li class="before:content-['b)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_V_T2' | translate }}</span>{{ 'AUTOCEPHALY_V_P2' | translate }}</p>
                                        </div>
                                    </li>
                                    <li class="before:content-['c)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_V_T3' | translate }}</span>{{ 'AUTOCEPHALY_V_P3' | translate }}</p>
                                        </div>
                                    </li>
                                    <li class="before:content-['d)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_V_T4' | translate }}</span>{{ 'AUTOCEPHALY_V_P4' | translate }}</p>
                                        </div>
                                    </li>
                                    <li class="before:content-['e)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_V_T5' | translate }}</span>{{ 'AUTOCEPHALY_V_P5' | translate }}</p>
                                        </div>
                                    </li>
                                    <li class="before:content-['f)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_V_T6' | translate }}</span>{{ 'AUTOCEPHALY_V_P6' | translate }}</p>
                                        </div>
                                    </li>
                                    <li class="before:content-['g)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_V_T7' | translate }}</span>{{ 'AUTOCEPHALY_V_P7' | translate }}</p>
                                        </div>
                                    </li>
                                    <li class="before:content-['h)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_V_T8' | translate }}</span>{{ 'AUTOCEPHALY_V_P8' | translate }}</p>
                                        </div>
                                    </li>
                                    <li class="before:content-['i)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                                        <div>
                                            <p class="text-justify"><span class="font-medium text-[#757575] inline-block">{{ 'AUTOCEPHALY_V_T9' | translate }}</span>{{ 'AUTOCEPHALY_V_P9' | translate }}</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</div>