<div class="flex-1 p-4">
    <!-- Grid layout -->
    <div class="grid gap-4">

        <div class="bg-white p-4">
            <!-- Margenes responsive -->
            <div class="space-y-4 my-8 mx-4 sm:mx-8 md:mx-16 lg:mx-32">

                <!-- Fila 1 -->
                <div>
                    <h2 class="text-2-5xl font-normal font-serif txt-lapis-lazuli-700">{{ 'CHURCH_TITLES' | translate }}
                    </h2>
                    <div class="border-t-2 border-gray-300 mt-1 mb-4"></div>
                    <p class="mt-2 text-base font-extralight text-justify mb-4">{{ 'CHURCH_CONTENT_P1' | translate }}</p>
                    <p class="mt-2 text-base font-extralight text-justify">{{ 'CHURCH_CONTENT_P2' | translate }}</p>
                </div><br>

                <!-- Fila 2 -->
                <div>
                    <h2 class="text-2xl font-normal font-serif txt-gray-700">{{ 'CHURCH_ONE_TITLE' | translate }}
                    </h2>
                    <div class="border-t-1-5 border-gray-300 mt-1 mb-4"></div>
                    <p class="mt-2 text-base font-extralight text-justify mb-4">{{ 'CHURCH_ONE_P1' | translate }}</p>
                    <p class="mt-2 text-base font-extralight text-justify">{{ 'CHURCH_ONE_P2' | translate }}</p>
                </div><br>

                <!-- Fila 3 -->
                <div>
                    <h2 class="text-2xl font-normal font-serif txt-gray-700">{{ 'CHURCH_HOLY_TITLE' | translate }}
                    </h2>
                    <div class="border-t-1-5 border-gray-300 mt-1 mb-4"></div>
                    <p class="mt-2 text-base font-extralight text-justify mb-4">{{ 'CHURCH_HOLY_P1' | translate }}</p>
                    <p class="mt-2 text-base font-extralight text-justify">{{ 'CHURCH_HOLY_P2' | translate }}</p>
                </div><br>

                <!-- Fila 4 -->
                <div>
                    <h2 class="text-2xl font-normal font-serif txt-gray-700">{{ 'CHURCH_CATHOLIC_TITLE' | translate }}
                    </h2>
                    <div class="border-t-1-5 border-gray-300 mt-1 mb-4"></div>
                    <p class="mt-2 text-base font-extralight text-justify mb-4">{{ 'CHURCH_CATHOLIC_P1' | translate }}</p>
                    <p class="mt-2 text-base font-extralight text-justify">{{ 'CHURCH_CATHOLIC_P2' | translate }}</p>
                </div><br>

                <!-- Fila 5 -->
                <div>
                    <h2 class="text-2xl font-normal font-serif txt-gray-700">{{ 'CHURCH_APOSTOLIC_TITLE' | translate }}
                    </h2>
                    <div class="border-t-1-5 border-gray-300 mt-1 mb-4"></div>
                    <p class="mt-2 text-base font-extralight text-justify">{{ 'CHURCH_APOSTOLIC_P1' | translate }}</p>
                </div>

                <!-- Posible imagen aqui-->

                <div>
                    <p class="mt-2 text-base font-extralight text-justify mb-4">{{ 'CHURCH_CONTENT_P3' | translate }}</p>
                    <p class="mt-2 text-base font-extralight text-justify">{{ 'CHURCH_CONTENT_P4' | translate }}</p>
                </div>

            </div>
        </div>

    </div>
</div>