<div class="flex-1 p-4">
    <!-- Grid layout -->
    <div class="grid gap-4">

        <div class="bg-white p-4">
            <!-- Margenes responsive -->
            <div class="space-y-4 my-8 mx-4 sm:mx-8 md:mx-16 lg:mx-32">

                <!-- Fila 1 -->
                <div>
                    <h2 class="text-2-5xl font-normal font-serif txt-lapis-lazuli-700">{{ 'PROCLAMATION_TITLE' | translate }}</h2>
                    <div class="border-t-2 border-gray-300 mt-1 mb-4"></div>
                    <p class="mt-2 text-base font-extralight text-justify mb-4">{{ 'PROCLAMATION_CONTENT_P1' | translate }}</p>
                    <ul class="list-none pl-5 space-y-2">
                        <li class="before:content-['1)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                            <div>
                                <p class="text-justify">{{ 'PROCLAMATION_CONTENT_P2' | translate }}</p>
                            </div>
                        </li>
                        <li class="before:content-['2)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                            <div>
                                <p class="text-justify">{{ 'PROCLAMATION_CONTENT_P3' | translate }}</p>
                            </div>
                        </li>
                        <li class="before:content-['3)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                            <div>
                                <p class="text-justify">{{ 'PROCLAMATION_CONTENT_P4' | translate }}</p>
                            </div>
                        </li>
                        <li class="before:content-['4)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                            <div>
                                <p class="text-justify">{{ 'PROCLAMATION_CONTENT_P5' | translate }}</p>
                            </div>
                        </li>
                        <li class="before:content-['5)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                            <div>
                                <p class="text-justify">{{ 'PROCLAMATION_CONTENT_P6' | translate }}</p>
                            </div>
                        </li>
                        <li class="before:content-['6)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                            <div>
                                <p class="text-justify mb-2">{{ 'PROCLAMATION_CONTENT_P7' | translate }}</p>
                                <p class="text-justify mb-2">{{ 'PROCLAMATION_CONTENT_P8' | translate }}</p>
                                <p class="text-justify mb-2">{{ 'PROCLAMATION_CONTENT_P9' | translate }}</p>
                                <p class="text-justify">{{ 'PROCLAMATION_CONTENT_P10' | translate }}</p>
                            </div>
                        </li>
                        <li class="before:content-['7)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                            <div>
                                <p class="text-justify">{{ 'PROCLAMATION_CONTENT_P11' | translate }}</p>
                            </div>
                        </li>
                        <li class="before:content-['8)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                            <div>
                                <p class="text-justify">{{ 'PROCLAMATION_CONTENT_P12' | translate }}</p>
                            </div>
                        </li>
                        <li class="before:content-['9)'] before:mr-2 before:font-medium before:text-[#757575] flex items-start">
                            <div>
                                <p class="text-justify">{{ 'PROCLAMATION_CONTENT_P13' | translate }}</p>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</div>