/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css';

@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-schedule/styles/material.css';

@import '../node_modules/@syncfusion/ej2-icons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-popups/styles/material.css';

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-inputs/styles/material.css';

@import 'primeng/resources/themes/md-light-indigo/theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#dialog-container {
    display: block;
    height: 100%;
    margin: 0;
    overflow: hidden;
    width: 100%;
}

/* Color del marco del icono */
.icon-border-ambar {
    background: linear-gradient(to right, #FFD700, #FFC000, #FFB700, #FFAC00, #FFD700);
    animation: gradient-animation 3s ease infinite;
  }

  @keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }


/* Colores resaltados de los textbox */
.pastel-orange {
    background-color: #fbe0ce;
    border-radius: 5px;
}

.pastel-ambar {
    background-color: #ffe699;
    border-radius: 5px;
}

.pastel-yellow {
    background-color: #ffff99;
    border-radius: 5px;
}


/* Colores temporales en la pagina web */
.color-cream {
    background-color: #fffdd0;
}

.text-color-ambar {
    color: #C48A47;
}

.icon-color-ambar {
    filter: invert(65%) sepia(13%) saturate(1792%) hue-rotate(352deg) brightness(87%) contrast(90%);
}