/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css';

@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-schedule/styles/material.css';

@import '../node_modules/@syncfusion/ej2-icons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-popups/styles/material.css';

@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-inputs/styles/material.css';

@import 'primeng/resources/themes/md-light-indigo/theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#dialog-container {
    display: block;
    height: 100%;
    margin: 0;
    overflow: hidden;
    width: 100%;
}

/* CSS para ancho mínimo en celular */
html,
body {
    min-width: 320px; /* Ancho mínimo para todo el viewport */
}

@media (min-width: 640px) {
    .container {
      min-width: 640px; /* Ancho mínimo para pantallas más grandes */
    }
}


/* Colores principales de la pagina */
/* Fondo */
.bg-yale-blue-100 {
    background-color: #023373;
}

.bg-lapis-lazuli-700 {
    background-color: #385D8D;
}

.bg-lapis-lazuli-100 {
    background-color: #446188;
}

.bg-glaucous-100 {
    background-color: #6E86A6;
}

.bg-cadet-gray-100 {
    background-color: #A4B0C0;
}

/* Texto */
.txt-eerie-black-300 {
    color: #1E1E1E;
}

.txt-yale-blue-100 {
    color: #023373;
}

.txt-lapis-lazuli-700 {
    color: #385D8D;
}

.txt-gray-700 {
    color: #757575;
}

.txt-cadet-gray-100 {
    color: #A4B0C0;
}


/* Color del marco del icono */
.icon-border-ambar {
    background: linear-gradient(to right, #FFD700, #FFC000, #FFB700, #FFAC00, #FFD700);
    animation: gradient-animation 3s ease infinite;
}

@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


/* Colores resaltados de los textbox */
.pastel-orange {
    background-color: #fbe0ce;
    border-radius: 5px;
}

.pastel-ambar {
    background-color: #ffe699;
    border-radius: 5px;
}

.pastel-yellow {
    background-color: #ffff99;
    border-radius: 5px;
}


/* Tamaño de letra del buscador */
.placeholder-small::placeholder {
    font-size: 0.875rem;
}

/*Personalización Páginas*/
.text-2-5xl {
    font-size: 28.8px;
    line-height: 34px;
}

.border-t-1-5 {
    border-top-width: 1.5px;
}