<div class="flex-1 p-4">
    <!-- Grid layout -->
    <div class="grid gap-4">

        <div class="bg-white p-4">
            <div class="space-y-4 my-8 mx-32">
                <!-- Fila 1 -->
                <div>
                    <h2 class="text-2-5xl font-normal font-serif txt-lapis-lazuli-700">{{ 'MYSTERIES_TITLE' | translate }}
                    </h2>
                    <div class="border-t-2 border-gray-300 mt-1 mb-4"></div>
                    <p class="mt-2 text-base font-extralight text-justify">{{ 'MYSTERIES_CONTENT_P1' | translate }}<span
                        class="italic">{{ 'MYSTERIES_QUOTE_1' | translate }}</span></p>
                    <div class="flex space-x-4">
                        <div class="w-1/2"></div>
                        <div class="w-1/2">
                            <p class="block mt-3 text-right text-sm txt-gray-700 mb-4">{{ 'MYSTERIES_QUOTE_2' | translate }}</p>
                        </div>
                    </div>

                    <p class="text-base font-extralight text-justify mb-4">{{ 'MYSTERIES_CONTENT_P2' | translate }}</p>

                    <!-- lista -->
                    <ul class="list-disc pl-5">
                        <li>{{ 'MYSTERIES_LIST_P1' | translate }}</li>
                        <li>{{ 'MYSTERIES_LIST_P2' | translate }}</li>
                        <li>{{ 'MYSTERIES_LIST_P3' | translate }}</li>
                        <li>{{ 'MYSTERIES_LIST_P4' | translate }}</li>
                        <li>{{ 'MYSTERIES_LIST_P5' | translate }}</li>
                        <li>{{ 'MYSTERIES_LIST_P6' | translate }}</li>
                        <li>{{ 'MYSTERIES_LIST_P7' | translate }}</li>
                    </ul>

                    <p class="mt-4 text-base font-extralight text-justify mb-4">{{ 'MYSTERIES_CONTENT_P3' | translate }}</p>
                    <p class="mt-2 text-base italic text-justify">{{ 'MYSTERIES_QUOTE_3' | translate }}</p>
                    <div class="flex space-x-4 mb-4">
                        <div class="w-1/2"></div>
                        <div class="w-1/2">
                            <p class="block mt-3 text-right text-sm txt-gray-700">{{ 'MYSTERIES_QUOTE_4' | translate }}</p>
                        </div>
                    </div>
                    <p class="mt-2 text-base font-extralight text-justify mb-4">{{ 'MYSTERIES_CONTENT_P4' | translate }}</p>
                    <p class="mt-2 text-base font-extralight text-justify">{{ 'MYSTERIES_CONTENT_P5' | translate }}</p>
                </div>

            </div>
        </div>

    </div>
</div>