.aplayer-container {
    width: 100%;
    max-width: auto;
    height: 64px; /* Set the height */
}

.aplayer {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .aplayer-container {
      width: 100%;
      max-width: 100%;
    }
}