<div class="flex-1 p-4">
    <!-- Grid layout -->
    <div class="grid gap-4">
        <!-- 1 row, 1 column -->
        <div class="bg-gray-200 p-4 flex items-center justify-center">
            <!-- Descubre el Cristianismo Ortodoxo -->
            <a href="/discover" class="flex items-center justify-center text-white hover:text-blue-500">Descubre</a>
        </div>

        <!-- 2 rows, 2 columns -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div class="bg-gray-300 p-4 flex items-center justify-center">Artículos</div>
            <div class="bg-gray-300 p-4 flex items-center justify-center">Podcast</div>
            <div class="bg-gray-300 p-4 flex items-center justify-center">Noticias</div>
            <div class="bg-gray-300 p-4 flex items-center justify-center">Videos</div>
        </div>

        <!-- 1 row, 1 column -->
        <div class="bg-gray-200 p-4 flex items-center justify-center">
            Pensamiento del Día
        </div>

        <!-- 1 row, 2 columns -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <a href="/scheduler" class="bg-gray-300 p-4 flex items-center justify-center text-white hover:text-blue-500">Calendario</a>
            <div class="bg-gray-300 p-4 flex items-center justify-center">Anuncios</div>
        </div>

        <!-- 2 rows, 1 column -->
        <div class="grid grid-rows-2 gap-4">
            <div class="bg-gray-200 p-4 flex items-center justify-center">Galeria de Fotos</div>
            <div class="bg-gray-200 p-4 flex items-center justify-center">Tienda de la Iglesia</div>
        </div>
    </div>

</div>