<div class="flex-1 p-4">
    <!-- Grid layout -->
    <div class="grid gap-4">
        <!-- 1 row, 1 column -->
        <div class="relative bg-[#F2E5AE] bg-[url('assets/images/home/christ-cover.png')] bg-cover bg-center p-4 min-h-96 max-h-96">
            <!-- Descubre -->
            <div class="absolute text-center bottom-4 left-4 w-96">
                <div class="font-semibold uppercase">
                    <p class="text-3xl text-[#023373]">{{ 'DISCOVER_TITLE' | translate }}</p>
                    <p class="text-5xl text-white">{{ 'DISCOVER_SUBTITLE' | translate }}</p>
                </div><br>

                <!-- Botón -->
                <a href="/discover" class="inline-flex items-center justify-center border-2 border-[#023373] rounded bg-transparent py-1 px-3 text-sm font-medium txt-yale-blue-100 hover:underline uppercase">{{ 'DISCOVER_BUTTON' | translate }}</a>
            </div>
        </div>

        <!-- 2 rows, 2 columns -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

            <div class="bg-[#EECC8E] p-4 flex min-h-48 max-h-48">
                <div class="w-full mx-2">
                    <h2 class="font-bold text-center txt-eerie-black-300 mb-4">{{ 'SERMONS_TITLE' | translate }}</h2>
                    <ul>
                        <li *ngFor="let sermons of sermonsList.slice(0, maxSermonsItems)" (click)="openSermons(sermons.id)"
                            class="border-b border-gray-300 cursor-pointer mb-2">

                            <!-- Fecha -->
                            <div class="text-xs text-gray-500 mb-2">
                                {{ sermons.date }}
                            </div>

                            <!-- Titulo -->
                            <div class="text-sm font-semibold font-serif txt-lapis-lazuli-700">
                                {{ sermons.title }}
                            </div>

                        </li>
                    </ul>

                    <a href="/sermons" class="text-sm flex items-center justify-center txt-eerie-black-300 hover:text-white">{{ 'SERMONS_BUTTON' | translate }} >></a>
                </div>
            </div>

            <div class="bg-black text-white p-4 flex items-center justify-center min-h-48 max-h-48">Videos</div>

            <div class="bg-cadet-gray-100 p-4 flex min-h-48 max-h-48">
                <div class="w-full mx-2">
                    <h2 class="font-bold text-center txt-eerie-black-300 mb-4">{{ 'NEWS_TITLE' | translate }}</h2>
                    <ul>
                        <li *ngFor="let news of newsList.slice(0, maxNewsItems)" (click)="openNews(news.id)"
                            class="border-b border-gray-300 cursor-pointer mb-2">

                            <!-- Fecha -->
                            <div class="text-xs text-gray-500 mb-2">
                                {{ news.date }}
                            </div>

                            <!-- Titulo -->
                            <div class="text-sm font-semibold font-serif txt-lapis-lazuli-700">
                                {{ news.title }}
                            </div>

                        </li>
                    </ul>

                    <a href="/news" class="text-sm flex items-center justify-center txt-eerie-black-300 hover:text-white">{{ 'NEWS_BUTTON' | translate }} >></a>
                </div>
            </div>

            <div class="bg-[#312B33] text-white p-4 flex items-center justify-center min-h-48 max-h-48">Podcast</div>

        </div>

        <!-- 1 row, 1 column -->
        <div class="bg-glaucous-100 p-4 flex items-center justify-center min-h-48 max-h-48">
            Pensamiento del Día
        </div>

        <!-- 1 row, 2 columns -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

            <a href="/scheduler" class="block">
                <div class="relative bg-lapis-lazuli-100 p-4 flex items-center justify-center min-h-48 max-h-48">
                  <!-- Background image covering the top half -->
                  <div class="absolute inset-0 top-0 h-1/2 md:bg-[url('assets/images/home/calendar-cover-2.png')] md:bg-no-repeat md:bg-contain bg-[url('assets/images/home/calendar-cover-1.png')] bg-cover bg-center"></div>

                  <!-- Text content in the bottom half -->
                  <div class="absolute bottom-3 flex flex-col items-center justify-center text-center px-4">
                    <p class="text-white text-xl font-bold uppercase">{{ 'CALENDAR_TITLE' | translate }}</p>
                    <p class="text-white text-sm w-40">{{ 'CALENDAR_DESCRIPTION' | translate | capitalize }}</p>
                  </div>
                </div>
            </a>

            <div class="bg-cadet-gray-100 p-4 flex min-h-48 max-h-48">
                <div class="w-full mx-2">
                    <h2 class="font-bold text-center txt-eerie-black-300 mb-4">{{ 'EVENTS_TITLE' | translate }}</h2>
                    <ul>
                        <li *ngFor="let events of eventsList.slice(0, maxEventsItems)" (click)="openEvents(events.id)"
                            class="border-b border-gray-300 cursor-pointer mb-2">

                            <!-- Fecha -->
                            <div class="text-xs text-gray-500 mb-2">
                                {{ events.date }}
                            </div>

                            <!-- Titulo -->
                            <div class="text-sm font-semibold font-serif txt-lapis-lazuli-700">
                                {{ events.title }}
                            </div>

                        </li>
                    </ul>

                    <a href="/events" class="text-sm flex items-center justify-center txt-eerie-black-300 hover:text-white">{{ 'EVENTS_BUTTON' | translate }} >></a>
                </div>
            </div>

        </div>

        <!-- 2 rows, 1 column -->
        <div class="grid grid-rows-2 gap-4">

            <div class="bg-lapis-lazuli-700 p-4 flex items-center justify-center min-h-48 max-h-48">Galeria de Fotos</div>

            <a href="#" class="block">
                <div
                    class="relative bg-black bg-[url('assets/images/home/store-cover.png')] bg-cover md:bg-center bg-right p-4 min-h-48 max-h-48">
                    <!-- Tienda -->
                    <div class="font-semibold text-white md:text-left md:absolute md:right-72 md:bottom-10 md:w-72 w-full absolute right-0 bottom-10 text-center">
                        <p class="text-3xl uppercase">{{ 'STORE_TITLE' | translate }}</p>
                        <p class="text-3xl uppercase mb-2">{{ 'STORE_SUBTITLE' | translate }}</p>
                        <p class="text-sm">{{ 'STORE_DESCRIPTION' | translate }}</p>
                    </div>
                </div>
            </a>
        </div>

    </div>
</div>